body {
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

.btn {
    background-color: whitesmoke;
    border: 1px solid silver;
    cursor: pointer;
    min-height: 3em;
    transition: 200ms background-color;
}

.btn:active,
.btn:hover { background-color: #ddd; }

.grid { display: grid; }
.grid-gap-1 { grid-gap: 0.5rem; }
.grid-col-4 { grid-template-columns: repeat(4, 1fr); }
.grid-col-span-3 { grid-column: span 3; }

.mw800px { max-width: 800px; }

.p1 { padding: .5rem; }
.mx-auto { margin-left: auto; margin-right: auto; }

.border { border: 1px solid; }
.border-gray { border-color: grey; }
.border-silver { border-color: silver; }

.center { text-align: center; }
.right-align { text-align: right; }

.bg-purple { background-color: #8c8cfe; }
.bg-active-light-purple:hover { background-color: #b8b8ff; }
.bg-hover-light-purple:hover { background-color: #b8b8ff; }

.text-muted { color: gray; }