.grid { display: grid; }
.grid-gap-1 { grid-gap: 0.5rem; }
.grid-col-4 { grid-template-columns: repeat(4, 1fr); }
.grid-col-span-2 { grid-column: span 2; }
.grid-col-span-3 { grid-column: span 3; }
.grid-col-span-4 { grid-column: span 4; }

.block { display: block; }
.border { border: 1px solid; }
.border-box { box-sizing: border-box; }
.border-silver { border-color: silver; }
.center { text-align: center; }
.mx-auto { margin-left: auto; margin-right: auto; }
.p1 { padding: .5rem; }
.h100 { height: 100%; }