body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
}

h1,
h2 {
    font-weight: 200;
}

a {
    text-decoration: none;
}

a:visited {
    color: #6d6dc7;
}

::selection {
    background-color: #b8b8ff;
}

.btn {
    background-color: whitesmoke;
    border: 1px solid silver;
    cursor: pointer;
    min-height: 3em;
    transition: 200ms background-color;
}

.btn:active,
.btn:hover { background-color: #ddd; }

.flex { display: flex; }
.flex-auto { flex: 1 1 auto; }
.flex-column { flex-direction: column; }

.grid { display: grid; }
.grid-gap-1 { grid-gap: 0.5rem; }
.grid-gap-2 { grid-gap: 1rem; }
.grid-col-1 { grid-template-columns: 1fr; }
.grid-col-4 { grid-template-columns: repeat(4, 1fr); }
.grid-col-span-2 { grid-column: span 2; }
.grid-col-span-3 { grid-column: span 3; }

@media screen and (min-width: 40em) {
    .sm-grid-col-2 { grid-template-columns: repeat(2, 1fr); }
    .sm-grid-col-3 { grid-template-columns: repeat(3, 1fr); }
}

@media screen and (min-width: 52em) {
    .md-grid-col-3 { grid-template-columns: repeat(3, 1fr); }
    .md-grid-col-span-3 { grid-column: span 3; }
}

.right { float: right; }

.mw32rem { max-width: 32rem; }
.mw64rem { max-width: 64rem; }
.vh100 { min-height: 100vh; }

.p1 { padding: .5rem; }
.m0 { margin: 0; }
.mb0 { margin-bottom: 0; }
.mt0 { margin-top: 0; }
.mx-auto { margin-left: auto; margin-right: auto; }

.border { border: 1px solid; }
.border-gray { border-color: grey; }
.border-silver { border-color: silver; }

.center { text-align: center; }
.right-align { text-align: right; }

.bg-purple { background-color: #8c8cfe; }
.bg-active-light-purple:hover { background-color: #b8b8ff; }
.bg-hover-light-purple:hover { background-color: #b8b8ff; }

.letter-spaced { letter-spacing: .05em; }
.small-caps { font-variant: small-caps; }
.uppercase { text-transform: uppercase; }

.text-decoration-none { text-decoration: none; }
.text-muted { color: gray; }
.text-purple { color: #6d6dc7; }
.text-smaller { font-size: 80%; }